<header>
  <h1>Survey Builder</h1>
  <hr>

  <div class="sub-menu">
    <span class='<%= class_name1 %>'> 1. Build Survey </span> |
    <span class='<%= class_name2 %>'> 2. Add Questions </span>
  </div>
</header>
