<div class="survey-content <%= class_name %>">
  <div class="sub-heading">Title:</div>
  <div class="description"><%= survey.title %></div>

  <div class="sub-heading">Description:</div>
  <div class="description"><%= survey.description %></div>
</div>
